/* main colors setting */
/*  lightorange #F7DEDE*/
/*  lightpink FFC6C6   */
/*  lightblue #BCD7FF  */
/*  lightgreen #E3F4E8 */
/*  maindark 414A41    */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', cursive;

}

nav ul{
    list-style-type: disc;
    border-top: 10px solid black;
}