/** ============================
** ----  Media Queries  ----
** ============================ */

@media (max-width: 480px) {
  .main-btns {
    & .tag-btn {
      margin: 0 !important;
    }

  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}



@media (max-width: 576px) {
  h4 {
    font-size: $text-xs-size;

  }

  .card-details {
    h1 {
      font-size: 2rem !important;
    }
  }

  footer {
    font-size: $text-mobile;
  }

}


@media (max-width: 625px) {
  .cards {
    h3 {
      font-size: $text-sm-size;
    }

    p {
      font-size: $text-xs-size !important;
    }
  }



  .card-id {
    grid-template-columns: 40% 60% !important;

    .personal-info {
      justify-content: flex-start !important;

      .personal-contacts {
        display: none;
      }
    }

    .main-btns {
      margin: 0;
      width: 98%;
      justify-content: space-between;


      & li {
        width: 100%;

        & .tag-btn {
          width: 95%;
          margin: 0;
          border-radius: 0;
        }
      }
    }
  }

  .progress-bars {
    grid-template-columns: 1fr;

    & .skill>span {
      font-size: $text-sm-size;
    }

    & .star {
      width: 48px;
    }
  }

  .card-details {
    h1 {
      font-size: 2.3rem;
    }

  }

  .card-intro>h4 {
    font-size: $text-xs-size;
  }

  .card-contact {
    .content-range {
      &:nth-child(1) {
        height: 50%;
        border-bottom: 3px dashed $orange;

        #map {
          display: none;
        }
      }

      #message {
        height: 100px;
      }

    }
  }

}



@media (max-width: 768px) {
  body {
    height: 150vh;
    overflow-y: scroll;
  }

  .left-arrow,
  .right-arrow {
    display: none !important;
  }

  .main {
    width: 99vw !important;
  }

  .card-about {
    flex-direction: column !important;

    & .card-id {
      padding: 1.8rem 0 !important;
      width: 100% !important;
      display: grid !important;
      height: 260px !important;
      grid-template-columns: 20% 40% 40%;
      grid-template-rows: repeat(3, 1fr);
      place-items: center center;

      & .avatar {
        grid-area: 1/1/2/2;

      }

      & .personal-info {
        grid-area: 1/2/2/4;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      & .main-btns {
        grid-area: 3/1/4/4;
        display: flex;
        flex-direction: row;
      }
    }

    & .content-wrapper {
      width: 100% !important;
    }
  }

  .card-contact {
    & .content-wrapper {
      flex-direction: column !important;
      background-image: linear-gradient(-110deg,
          #ffe7c7 0%,
          #ffe7c7 100%) !important;
      overflow: auto;

      & .content-range {
        transition: $main-transition;

        & h3 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }

        // &:nth-child(2) {
        //   height: 4rem;
        //   background: $orange;
        //   border-radius: 2rem;

        //   & .form-body {
        //     display: none;
        //   }
        // }

        & h1 {
          font-size: smaller;
        }
      }
    }

    & .hide-contact {
      height: 3.8rem !important;
    }

    & .show-contact {
      height: calc(100% - 3.8rem) !important;
    }
  }
}

@media (max-width: 896px) {
  .page-logo {
    display: inline !important;

    & h3 {
      @include logo-title($orange);
    }

    & img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 3px solid darken($color: $orange, $amount: 30%);
      -webkit-filter: drop-shadow(1px 2px 2px $orange);
      filter: drop-shadow(1px 2px 2px $orange);
    }
  }

  .cards-nav {
    // overflow: hidden;
    z-index: 2;
    width: 98%;
    height: 55px;
    background: $lightorange;
    border-radius: 1.2rem;
    background-image: linear-gradient(to bottom,
        $yellow 0%,
        darken($yellow, 10%) 100%);
    border: 1px solid darken($yellow, 25%);
    box-shadow: 0 0 0 5px lighten($color: $main-white, $amount: 20%);
    margin-bottom: 10px;
    position: relative;

    & .nav-btn {
      display: inline !important;
      position: absolute;
      right: 2%;
      margin: 3px;

      &:active {
        @include nav-active($lightgreen);
      }
    }

    & .nav-menu {
      position: absolute;
      top: 55px;
      left: 0;
      flex-direction: column !important;
      transition: $main-transition;
      opacity: 0;
      width: 100%;
      visibility: hidden;

      & .nav-wrapper {
        width: 80vw !important;
        margin: 3px auto !important;
      }
    }
  }

  .toggle-menu {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .wrapper {
    margin-top: 2% !important;
  }
}