/** ============================
** ----Hover effect over img----
** ============================ */

@mixin imgsFrame($filterL) {
  -webkit-filter: saturate($filterL);
  filter: saturate($filterL);
}

@mixin imgDir($url, $selectors) {
  @for $i from 0 to length($selectors) {
    #{nth($selectors, $i + 1)} {
      background-image: url("${url}") no-repeat;
    }
  }
}

/** ============================
**  ---   Responsive-Nav   ---
** ============================ */

@mixin break($width) {
  @media (max-width: $width) {
    @content;
  }
}

/** ============================
**  ---  Card Shadow   ---
** ============================ */

@mixin card-shadow($direction: "") {
  @if $direction==right {
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.3);
  } @else if $direction==left {
    box-shadow: -5px 5px 6px 2px rgba(0, 0, 0, 0.3) !important;
  } @else if $direction==all {
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.3);
  } @else {
    box-shadow: 0px 0px 0px 0px;
  }
}

/** ============================
**  - Nav Button Shadow Style -
** ============================ */
@mixin nav-style($color) {
  border: 1px solid darken($color, 25%);
  background-image: linear-gradient(-180deg, $color 0%, darken($color, 20%) 100%);
  box-shadow: inset 0px 2px 3px 2px rgba(lighten($color, 25%), 0.7), 0px 3px 2px 2px rgba(darken($color, 45%), 0.7),
    inset 0px -1px 1px 0px rgba(lighten($color, 15%), 0.7);

  & a:hover,
  h4:hover {
    color: darken($color: $color, $amount: 40%);
  }
}

@mixin nav-active($color) {
  background-image: linear-gradient(-180deg, lighten($color, 2%) 0%, darken($color, 25%) 100%);
  border: 1px solid darken($color, 5%);
  box-shadow: inset 0px 1px 1px 1px rgba(lighten($color, 5%), 0.7), 0px 2px 6px 4px darken($color, 15%),
    0px 1px 0px 0px rgba(darken($color, 15%), 0.7);
  transform: translateY(2px);

  & a {
    color: darken($color: $color, $amount: 45%);
  }
}

/** ================================
**  --- Content Multiple Borders  ---
** ================================ */
@mixin multiple-borders($color) {
  border: 4px solid darken($color, 15%);
  box-shadow: 0 0 0 4px darken($color, 5%), 0 0 0 8px lighten($color: $main-white, $amount: 20%);
}

/** ================================
**  --- Card Title Design  ---
** ================================ */
@mixin card-title($color, $text-color: $color, $dark-text: darken($text-color, 15%)) {
  background-image: linear-gradient(to bottom, darken($color, 15%), darken($color, 15%) 50%, $color 50%, $color 100%);

  & .title-text {
    background-image: linear-gradient(to bottom, $text-color, $text-color 50%, $dark-text 50%, $dark-text 100%);
  }
}

/** ==================
**  --- Intro Style ---
** =================== */
@mixin intro-style($color) {
  margin: 2%;
  border: 1px solid darken($color, 20%);
  width: 80%;
  background: transparent;
  box-shadow: -5px 5px 0px 3px rgba(darken($color, 20%), 0.5);
  transition: $main-transition;
  border-radius: 10px;

  & h4 {
    padding: 10px;
  }

  &:hover {
    transform: translate(4px, -4px);
    box-shadow: -7px 7px 2px 4px rgba(darken($color, 20%), 1);
  }
}

/** ============================
**  - Nav + Content Background -
** ============================ */
$colors: (
  notes: $green,
  skills: $lightgreen,
  experience: $lightorange,
  about: $yellow,
  contacts: $orange,
);

@each $key, $value in $colors {
  .card-#{$key} {
    background: $value;
  }
}

@each $key, $value in $colors {
  .nav-#{$key} {
    background: $value;
    @include nav-style($value);

    &:focus-within,
    &.highlight {
      @include nav-active($value);
    }
  }
}

/** ================================
**  --- Bubble Style Buttons  ---
** ================================ */
@mixin bubble-btn($color) {
  background-color: darken($color, 20%);
  color: lighten($color: $color, $amount: 10%);
  @include nav-style($color);

  &:hover {
    color: darken($color: $color, $amount: 45%);
  }

  & a,
  i {
    color: lighten($color: $color, $amount: 5%) !important;
  }

  &:active {
    @include nav-active($color);
  }
}

/** ================================
**  --- Bordered Style Buttons  ---
** ================================ */
@mixin btn-color($color) {
  outline: none;
  border: 1px solid darken($color, 20%);
  background: darken($color, 20%);
  border-radius: 3px;
  color: $main-white;
  font-family: $text-font;
  font-size: 1rem;
  box-shadow: 0px 2px 2px 2px rgba(darken($color, 20%), 0.6);

  &:hover {
    background: darken($color, 25%);
  }

  &:active {
    box-shadow: 0px 1px 0px 0px rgba(darken($color, 15%), 0.7);
    transform: translateY(2px);
    border-radius: 3px;
  }
}

/** ================================
**  --- Arrow Move Left/Right  ---
** ================================ */
@mixin arrowAnimation($index) {
  transform: translateX($index * 3px);
  -webkit-animation-name: arrowMove;
  animation-name: arrowMove;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.84, 0.3, 0.98);
  animation-timing-function: cubic-bezier(0.17, 0.84, 0.3, 0.98);

  @-webkit-keyframes arrowMove {
    0% {
      transform: translateX($index * 3px);
    }

    100% {
      transform: translateX($index * -3px);
    }
  }

  @keyframes arrowMove {
    0% {
      transform: translateX($index * 3px);
    }

    100% {
      transform: translateX($index * -3px);
    }
  }
}

/** ====================
**  --- Logo & Title ---
** ===================== */
@mixin logo-title($color) {
  text-align: center;
  line-height: 50px;
  font-family: "Holtwood One SC", serif;
  background-size: cover;
  -webkit-background-clip: text;
  background-blend-mode: multiply;
  color: transparent !important;
  display: inline-block;
  background-size: 300%;
  background-position: right;
  background-image: linear-gradient(
    135deg,
    darken($color, 10%) 0%,
    darken($color, 10%) 35%,
    $color 35%,
    $color 50%,
    darken($color, 10%) 50%,
    darken($color, 10%) 53%,
    $color 53%,
    $color 58%,
    darken($color, 10%) 58%
  );
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: moveBg;
  animation-name: moveBg;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: forward;
  animation-direction: forward;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  @-webkit-keyframes moveBg {
    from {
      background-position: right;
    }

    to {
      background-position: left;
    }
  }

  @keyframes moveBg {
    from {
      background-position: right;
    }

    to {
      background-position: left;
    }
  }
}

/** ========================
    **  --- Div Shadow ---
    ** ===================== */
@mixin sm-div-shadow($color) {
  background: rgba(darken($color, 20%), 0.6);
  box-shadow: 0 2px 2px 0 rgba(darken($main-white, 50%), 0.14), 0 3px 1px -2px rgba(darken($main-white, 5%), 0.2),
    0 1px 5px 0 rgba(darken($main-white, 50%), 0.12);
}

@mixin md-div-shadow($color) {
  background: rgba(darken($color, 20%), 0.6);
  box-shadow: 8px 10px 6px -6px rgba(darken($main-white, 40%), 0.3);
}

/** ======================
**  --- Suspended Btns ---
** ===================== */
@mixin middle-btns($bottom) {
  position: absolute;
  bottom: $bottom;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: center;

  & span {
    height: 70px;
    width: 70px;
    // border: 1px solid pink;
    padding: 5px;
    margin: 0 25px;
  }
}
