/** ============================
** Basic Settings
** ============================ */
@import "variables";

:root {
  font-family: "Dosis", sans-serif;
  --mainspacing: 0.1rem;
  --maintransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../img/bg-main-sm.png") repeat;
}

body {
  margin: 0;
  padding-top: 5px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  // position: relative;
}
h1 {
  color: $main-dark;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--color-headings);
}

h3 {
  margin: 0;
}

p {
  margin-top: 0;
  color: var(--color-text);
}
