$title-font: "Holtwood One SC", serif;
$text-font: "Dosis", sans-serif;
$text-color: rgba(#474544, 0.8);
$link-color: lighten(#737373, 5%);
$text-mobile: 0.8rem;
$text-xs-size: 1rem;
$text-sm-size: 1.2rem;
$text-md-size: 1.3rem;
$text-lg-size: 1.6rem;
$text-xl-size: 2.5rem;
$main-dark: #737373;
$main-black: #474544;
$main-transition: all 0.2s linear;
$input-height: 1.2rem;

$main-white: #f2f3eb;
$green: #caf1de;
$orange: #f7d8ba;
$lightorange: #ffe7c7;
$yellow: #fef8dd;
// $yellow: #fdf900;
$lightyellow: #f9fab0;
$lightgreen: #e1f8dc;
$red: #ff5d2c;
