/** ==============
**    Variables
** =============== */
$title-font: "Dosis", sans-serif;
$text-font: "Abel", sans-serif;
$text-size: 1.2rem;
$main-dark: #737373;
$main-black: #474544;
$main-white: #f2f3eb;
$green: #caf1de;
$orange: #f7d8ba;
$lightorange: #ffe7c7;
$yellow: #fef8dd;
$lightgreen: #e1f8dc;
$red: #ff5d2c;
