/** ==============
**    Variables
** =============== */
$title-font: "Dosis", sans-serif;
$text-font: "Abel", sans-serif;
$text-size: 1.2rem;
$main-dark: #737373;
$main-black: #474544;

$main-white: #f2f3eb;
$green: #caf1de;
$orange: #f7d8ba;
$lightorange: #ffe7c7;
$yellow: #fef8dd;
$lightgreen: #e1f8dc;
$red: #ff5d2c;

// $main-white: #f2f3eb;
// $blue: #53dee8;
// $darkgreen: #5e8613;
// $green: #9ed71e;
// $orange: #f4b05a;
// $lightorange: #fad68f;
// $yellow: #fdce1f;
// $lightyellow: #f7ff94;
// $lightgreen: #e1f8dc;
// $red: #f55102;
