/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import "variables";
@import "reset";
@import "mixins";

//Main Pages
@import "modules/skills";
@import "modules/contacts";
@import "modules/about";
@import "modules/notes";
@import "modules/experience";

//Main Components
@import "modules/buttons";
@import "modules/scrollbar";
@import "modules/preloader";
@import "modules/progressbar";
@import "modules/navs";
@import "modules/modal";
@import "modules/form";
@import "modules/footer";
@import "media_queries";

/** ============================
**   ----    Main Divs    ----
** ============================ */

.main {
  width: 90vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-logo {
  display: none;
}

.personal-contacts {
  & p {
    font-size: $text-md-size;
  }

  margin-bottom: 1rem;
}

.disable-btn {
  pointer-events: none;
  border: 1px solid darken($main-white, 20%) !important;
  background: darken($main-white, 20%) !important;
  box-shadow: 0px 2px 2px 2px rgba(darken($main-white, 20%), 0.6) !important;
}

/** ============================
** ----   cards General   ----
** ============================ */

.cards {
  display: flex;
  height: calc(100% - 50px);
  width: 100%;
  overflow: visible;
}

.cards-track {
  top: 0;
  left: 0;
  overflow: visible;
  transition: all 0.4s ease-in-out;
  position: relative;
  height: 100%;
  width: 100%;
}

.card {
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper {
  width: 98%;
  height: 94%;
  margin: 1% 1%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-card>.wrapper {
  box-shadow: 5px 5px 5px 2px rgba($main-dark, 0.24), -2px 5px 5px 1px rgba($main-dark, 0.24);
}

.card-intro {
  .card-skills & {
    @include intro-style($lightgreen);
  }

  .card-experience & {
    @include intro-style($lightorange);
  }

  .card-notes & {
    @include intro-style($green);
  }
}

.card-details {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
  @include card-title($green);
  text-align: center;

  .card-skills & {
    @include card-title($lightgreen);
  }

  .card-experience & {
    @include card-title($lightorange);
  }

  .card-contact & {
    @include card-title(transparent, darken($orange, 15%), darken($orange, 15%));
    text-align: left !important;
  }

  .title-text {
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
}

.content-wrapper {
  font-family: $text-font;
  font-size: $text-sm-size;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;

  & .content-range {
    padding: 0 10px;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    // max-height: calc(94% - 100px);
    position: relative;
    overflow-y: auto;
  }
}