/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import "variables";
@import "reset";
@import "mixins";
@import "modules/button";
@import "modules/scrollbar";
@import "modules/preloader";
@import "modules/arrows";
@import "modules/footer";

/** ============================
**   ----    main div    ----
** ============================ */

.main {
  // display: none;
  width: 90vw;
  height: 90vh;
  position: relative;
  // border: 1px solid orange;
  overflow: hidden;
}

/** ============================
**     ----    cards     ----
** ============================ */

.cards {
  display: flex;
  height: calc(100% - 50px);
  width: 100%;
  overflow: visible;
}

.cards-track {
  top: 0;
  left: 0;
  // overflow: hidden;
  overflow: visible;
  transition: all 0.4s ease-in-out;
  position: relative;
  height: 100%;
  width: 100%;
}

.card {
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  position: absolute;
  // &:not(:last-of-type):hover {
  //   box-shadow: -5px 18px 20px rgba(0, 0, 0, 0.19), -3px 15px 6px rgba(0, 0, 0, 0.23);
  // }

  // &:hover~.card {
  //   &:not(:last-of-type) {
  //     transform: translateX(50px);
  //   }
  // }

  // &:focus-within~.card {
  //   transform: translateX(50px);
  // }
}

.wrapper {
  width: 98%;
  height: 96%;
  margin: 0 1%;
  padding: 3%;
  background-blend-mode: multiply;
  border-radius: 2rem;

  &:nth-last-of-type(1) {
    position: relative;
    border: 5px solid $main-white;

    &:before {
      content: " ";
      position: absolute;
      /* z-index: -1; */
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 5px solid darken($orange, 10%);/\
      border-radius: 2rem;
    }
  }
}

.current-card>.wrapper {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.14),
    -2px 5px 5px 1px rgba(0, 0, 0, 0.14);
}

.nav-shadow {
  box-shadow: 5px -2px 2px 0px rgba(0, 0, 0, 0.1),
    -2px -3px 2px 0px rgba(0, 0, 0, 0.07);
  z-index: 5;
}

.content-wrapper {
  font-family: $text-font;
  font-size: $text-size;
  width: 100%;
  height: 100%;

  & .card-details {
    border: 1px solid white;
    width: 100%;
    height: 100px;
  }

  & .content-range {
    padding: 2%;
    max-width: 100%;
    border: 1px solid black;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(94% - 100px);
    margin-top: 20px;
  }
}

/** ============================
** ----    Cards Navs    ----
** ============================ */
.cards-nav {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .nav-wrapper {
    background-blend-mode: multiply;
    margin: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    // & > * {
    //   pointer-events: none;
    // }
    position: relative;
    // box-shadow: //   0 .5rem .25rem 0 rgba(darken(#f5f5f5, 35%), 0.50),
    //   0 0 .5rem rgba(darken(#f5f5f5, 20%), 1) inset,
    //   0 0 0.5rem rgba(255, 255, 255, 0.4) inset,
    //   0 0 0.5rem 0 darken(#f5f5f5, 30%) inset;
    // &:before {
    //   content: "";
    //   display: block;
    //   height: 0.25rem;
    //   position: absolute;
    //   top: 0.5rem;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: calc(100% - 3.5rem);
    //   background: #fff;
    //   border-radius: 100%;
    //   opacity: 0.7;

    //   &:after {
    //     content: "";
    //     display: block;
    //     height: 0.55rem;
    //     position: absolute;
    //     bottom: 0.75rem;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: calc(100% - 3.5rem);
    //     background: #fff;
    //     border-radius: 100%;
    //     -webkit-filter: blur(2px);
    //     filter: blur(2px);
    //     opacity: 0.1;
    //   }
    // }
  }
}

/** ============================
** ----    About  Card    ----
** ============================ */
.about .content-range {
  height: 100%;

  & .about-text {
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .about-img {
    width: 20vw;
    height: 20vw;
    border: 1px solid orange;
    overflow: hidden;
    border-radius: 50%;

    & img {
      width: 100%;
    }
  }
}

/** ============================
** ----  Experience Card  ----
** ============================ */
.experience {
  & .content-range {
    & .frame-wrapper {
      width: 100%;
      // border: 1px solid orange;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: auto;

      & .website-frame {
        background: $main-white;
        @include card-shadow(right);
        width: 100%;
        max-width: 1000px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 0;

        &:nth-of-type(even) {
          @include card-shadow(left);

          & .website-screenshot {
            flex-direction: row-reverse;

            & img {
              right: 0;
              @include card-shadow(left);
            }
          }
        }

        & .website-screenshot {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          & .website-img {
            width: 40%;
            height: 200px;
            margin: 0;
            position: relative;

            @include break(576px) {
              width: 100%;
              // height: 200px;
            }

            & img {
              @include card-shadow(right);
              position: absolute;
              width: 120%;
              max-width: 450px;
              height: 140%;
              top: -20%;

              @include break(900px) {
                width: 120%;
                height: 120%;
                top: -10%;
              }

              @include break(768px) {
                width: 120%;
                height: 100%;
                top: 0;
              }

              @include break(576px) {
                width: 100%;
                height: 100%;
              }
            }
          }

          & .website-text {
            border: 1px solid tomato;
            height: 100%;
            width: 48%;
            margin: 2%;

            @include break(576px) {
              width: 90%;
              margin: 5%;
            }
          }

          @include break(576px) {
            flex-direction: column !important;
          }
        }

        @include break(768px) {
          margin: 3rem 0;
        }

        @include break(576px) {
          width: 80%;
          height: 100%;
          @include card-shadow(all);
          margin: 2rem 0;
        }
      }
    }
  }
}

/** ============================
**----    Skill Card    ----
** ============================ */
.skills {
  & .content-range {
    & .progress-bars {
      border: 1px solid orange;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.8rem;
      // justify-content: space-around;

      & .progress-bar {
        margin: 2%;
        width: 100%;
        height: 100px;
        border: 1px solid $main-white;
        padding: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .bar {
          height: 25px;
          width: 60%;
          border: 1px solid $main-dark;
          background-color: lighten($main-dark, 60%);
          background-image: linear-gradient(to bottom,
              rgba(255, 255, 255, 0.33) 0,
              rgba(255, 255, 255, 0.08) 35%,
              rgba(0, 0, 0, 0.25) 65%,
              rgba(0, 0, 0, 0.07) 100%);
          border-radius: 3px;
          position: relative;
          // box-shadow: inset 0 1px 1px 0px rgba(255, 215, 215, 0.5),
          //   inset 0 -1px 1px 0px rgba(255, 255, 255, 0.25),
          //   1px 1px 3px 0 rgba(0, 0, 0, 0.33);
          -webkit-filter: drop-shadow(0 0 0.45rem rgba(240, 240, 240, 0.33));
          filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.616));

          &:before {}

          &:after {
            content: "";
            position: absolute;
            width: 4px;
            height: 7px;
            background: $main-dark;
            right: -4px;
            top: 9px;
            border-radius: 3px;
          }

          & .progress {
            // background-color: $green;
            height: 100%;
            width: 50%;
            background-size: 100% 100%, 20px 20px;
            background-color: $main-dark;
            background-image: linear-gradient(to bottom,
                rgba(255, 255, 255, 0.33) 0,
                rgba(255, 255, 255, 0.08) 35%,
                rgba(0, 0, 0, 0.25) 65%,
                rgba(0, 0, 0, 0.1) 100%),
              linear-gradient(to right,
                $yellow 10%,
                $green 10%,
                $green 50%,
                $yellow 50%,
                $yellow 60%,
                $green 60%,
                $green);

            &:before {
              content: "50%";
              position: absolute;
              left: 5px;
              // top: 9px;
            }
          }
        }
      }
    }
  }

  .to-front:not(:last-of-type) {
    z-index: 10;
    box-shadow: -5px 18px 20px rgba(0, 0, 0, 0.19),
      -3px 15px 6px rgba(0, 0, 0, 0.23);
  }
}

/** ============================
**  ----   Contact Card   ----
** ============================ */
.contact-card {
  // position: absolute;
  // right: 0;

  & .nav-wrapper {
    position: absolute;
    right: 0;
    min-width: 150px;
    cursor: pointer;
  }

  & .content-wrapper {
    position: absolute;
    border-top-left-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 90%;
    flex-direction: row;

    // &:hover {
    //   box-shadow: -5px 18px 20px rgba(0, 0, 0, 0.19), -3px 15px 6px rgba(0, 0, 0, 0.23);
    // }

    & .social-media {
      margin: 20px;
      width: 50px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: center;

      & span {
        margin: 0px auto;
        padding: 0px auto;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        background: url("../../img/scribble-pattern.png") no-repeat;
        background-size: cover;

        font-size: 1.2rem;
      }
    }
  }
}

.social-media {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-grids {
  // height: 80%;
  border: 1px solid brown;
}

.contact-grid {
  border: 1px solid grey;
}

/** ============================
** - Contact Card- Contact-Form -
** ============================ */

/** ============================
** ----  Media Queries  ----
** ============================ */

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 768px) {
  // .main {
  //   width: 85vw;
  // }

  .nav-wrapper {
    max-width: 120px;
  }
}

@media screen and (max-width: 896px) {
  .main {
    width: 88vw;
  }

  .nav-wrapper {
    max-width: 120px;
  }
}

@media screen and (max-width: 576px) {
  .arrow-wrapper {
    display: none;
  }
}