/** ============================
** ----    About  Card    ----
** ============================ */
.card-about {
  display: flex;
  flex-direction: row !important;
  overflow: hidden;

  .card-id {
    width: 40%;
    background: darken($color: $yellow, $amount: 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5%;
    height: 100%;

    & .avatar {
      width: 100px;
      height: 100px;
      margin: 5%;
      border-radius: 2rem;
      border: 5px solid lighten($color: $main-white, $amount: 30%);
      overflow: hidden;
      text-align: center;
      box-shadow: 2px 1px 4px 4px rgba($main-dark, 0.2);

      & img {
        width: 90%;
        height: 100%;
      }
    }

    & .personal-info {
      & p {
        font-size: $text-sm-size !important;
      }

      & .personal-brief {
        & p:nth-child(1) {
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: $text-lg-size !important;
        }

        & .stars-rating {
          width: 180px;
          background: rgba($orange, 0.5);
          height: 10px;
          position: relative;
          margin: 1.5rem 0;

          & .stars-track {
            & .star {
              width: 35px;
              font-size: $text-lg-size;
            }
          }
        }
      }
    }
  }

  & .content-wrapper {
    width: 70%;
    background: darken($color: $yellow, $amount: 15%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12), 0 0px 10px -5px rgba(0, 0, 0, 0.2);

    & .content-range {
      max-height: 100%;
    }

    & .tag-slide {
      margin: 3%;
      transition: all 0.3s ease-in;
      position: absolute;
      top: 0;
      left: -10px;
      opacity: 0;

      &:first-of-type {
        left: 0;
        opacity: 1;
      }
    }

    .tag-slide-fade {
      opacity: 0 !important;
      left: -10px !important;
    }

    .tag-slide-in {
      left: 0;
      opacity: 1;
    }
  }
}