/** ============================
** - Slides Left/Right Arrows  -
** ============================ */
.arrow-wrapper {
    position: absolute;

    &[type="right-arrow"] {
        right: 5px;
    }

    &[type="left-arrow"] {
        left: 5px;
    }
}

.disable-arrow {
    pointer-events: none;
}

.left-arrow,
.right-arrow {
    background: rgba($main-dark, 0.15);
    width: 35px;
    height: 70px;
    border-radius: 10%;
    cursor: pointer;
    transition: background 0.1s linear;

    &:hover {
        background: rgba($main-dark, 0.3);
    }
}

.right-arrow {
    right: 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
}

.left-arrow {
    left: 5px;
    -webkit-clip-path: polygon(50% 0, 0 50%, 50% 100%, 100% 100%, 50% 50%, 100% 0%);
    clip-path: polygon(50% 0, 0 50%, 50% 100%, 100% 100%, 50% 50%, 100% 0%);
}
