/** ============================
**  ------ Main Footer ------
** ============================ */
footer {
    &.main-footer {
        & p {
            color: darken($green, 20%);
            display: inline !important;
            font-family: $title-font;
            margin: 0 5px;
        }

        & h5 {
            display: inline !important;
            color: $red;
            font-family: $title-font;
            font-size: 1rem;
        }
    }
}
