/** ============================
  ** ----  The Modals ----
  ** ============================ */
.modal-login,
.modal-note,
.modal-delete,
.modal-img {
  border-radius: 2rem;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(darken($main-white, 40%), 0.4);
  padding-top: 60px;
}

.modal-note {
  & .note {
    width: 50% !important;
    min-width: 350px !important;
    min-height: 400px !important;

    & .note-body {
      height: calc(100% - 150px) !important;
    }
  }
}

.modal-img {
  position: absolute;
}

.note-edit,
.note-display,
.delete-window,
.img-window {
  margin: 0% auto 15% auto !important;
}

/* Modal Content/Box */
.modal-content {
  margin: 0 auto 5% auto;
  width: 100%;
}

/* Add Zoom Animation On .form-body */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.delete-window {
  width: 300px;
  height: 150px;
  @include multiple-borders($lightorange);
  border-radius: 2rem;
  position: relative;
  // overflow: hidden;

  & .delete-warning {
    background: $lightyellow;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 2rem;
    padding-top: 10%;

    & h3 {
      font-size: $text-md-size;
    }
  }

  & .delete-confirm {
    @include middle-btns(-25%);

    & button {
      font-size: $text-md-size;
    }
  }
}
