/** ============================
  ** Scrollbar setting
  ** ============================ */

/* width */

::-webkit-scrollbar {
    width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px lighten($color: $main-dark, $amount: 30%);
    border-radius: 10px;

}

/* Handle */

::-webkit-scrollbar-thumb {
    background: lighten($color: $main-dark, $amount: 30%);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: lighten($color: $main-dark, $amount: 10%);
}