/** ============================
**----    Skill Card    ----
** ============================ */
.skills {
    & .content-range {
        display: flex;
        justify-content: center;

        & .progress-bars {
            // border: 1px solid orange;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-gap: 2%;
            place-items: center center;
            min-height: 200px;
            max-height: 460px;
            // &>div {

            // }

            .progress-bar {
                width: 90%;
                background: transparent;
                border-radius: 2rem;
                @include multiple-borders($lightorange);
                height: 120px;
                position: relative;
                margin: 1.5rem 1rem;

                & .skill {
                    white-space: nowrap;
                    font-family: $title-font;
                    color: $red;
                    position: absolute;
                    font-size: $text-lg-size;
                    top: -22%;
                    width: 100%;
                    text-align: center;
                    line-height: 2rem;
                }
            }
        }
    }

    .details {
        @include middle-btns(-35%);
    }

    .to-front:not(:last-of-type) {
        z-index: 10;
        box-shadow: -5px 18px 20px rgba(0, 0, 0, 0.19), -3px 15px 6px rgba(0, 0, 0, 0.23);
    }
}
